.main {
  text-align: left;

  &-topic {
    padding: 2rem 1rem;
    border-bottom: 1px solid $border-color;

    h1 {
      font-size: 1.75rem;
      font-weight: 700;
      opacity: 0.9;
    }
    h4 {
      font-size: 1rem;
      font-weight: 400;
      opacity: 0.6;
    }
  }

  &-content {
    &__box {
      padding: 2rem 1rem;

      .box {
        &-heading {
          font-size: 1.5rem;
          font-weight: 700;
          opacity: 0.9;
        }

        &-description {
          font-size: 1rem;
          opacity: 0.8;
          margin-bottom: 2rem;

          code {
            font-size: 0.875rem;
            color: #d63384;
            word-wrap: break-word;
            padding-right: 0.25rem;
          }
        }
      }

      .avatar-default {
        margin-bottom: 2rem;
      }
    }
  }
}

.avatar-sizes {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    text-align: center;
    margin-right: 1rem;
  }
}

.display-code {
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 375px;

  iframe {
    max-width: 100%;
  }
}

.box-description ul {
  padding: 1rem 0 1rem 2rem;
}

.box-description ul li {
  padding: 0.5rem 0;
}
