$primary-color: #272727;
$secondary-color: #ff652f;
$white: #fff;
$border-color: #d7d7d7;

$error-color: rgb(97, 26, 21);
$error-icon-color: #f44336;
$error-background-color: rgb(253, 236, 234);

$warning-color: rgb(102, 60, 0);
$warning-icon-color: #ff9800;
$warning-background-color: rgb(255, 244, 229);

$info-color: rgb(13, 60, 97);
$info-icon-color: #2196f3;
$info-background-color: rgb(232, 244, 253);

$success-color: rgb(30, 70, 32);
$success-icon-color: #4caf50;
$success-background-color: rgb(237, 247, 237);

$status-online-color: #1b7052;
$status-away-color: #f9a61a;
$status-dnd-color: #f34648;
$status-dnd-black-color: #212121;

$badge-number-color: #ff3f6c;
