.button-container {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 1.2px;
  border: 0;
  box-shadow: $box-shadow-button;
  cursor: pointer;
  color: $primary-color;
  @include transition-ease;

  //   &#{&}-text {
  //     border: none;
  //     border-radius: 0;
  //     box-shadow: none;
  //     background-color: $white;

  //     &:hover {
  //       background-color: rgba(0, 0, 0, 0.04);
  //     }
  //   }

  &:hover {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px RGB(0 0 0 / 20%), 0px 2px 2px 0px RGB(0 0 0 / 14%), 0px 1px 5px 0px RGB(0 0 0 / 12%);
  }

  &#{&}-primary {
    background-color: $primary-color;
    color: $white;

    &:hover {
      background-color: $btn-primary-hover;
      box-shadow: $box-shadow-button-hover;
    }

    &-outline {
      background-color: $white;
      color: $primary-color;
      border: 2px solid $primary-color;
      box-shadow: none;

      &:hover {
        color: $white;
        background-color: $primary-color;
      }
    }

    &-text {
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: $primary-color;
      background-color: $white;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }
  &#{&}-secondary {
    background-color: $badge-number-color;
    color: $white;

    &:hover {
      background-color: $btn-primary-hover;
      box-shadow: $box-shadow-button-hover;
    }

    &-outline {
      background-color: $white;
      color: $badge-number-color;
      border: 2px solid $badge-number-color;
      box-shadow: none;

      &:hover {
        color: $white;
        background-color: $badge-number-color;
      }
    }

    &-text {
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: $badge-number-color;
      background-color: $white;

      &:hover {
        background-color: rgba(220, 0, 78, 0.04);
      }
    }
  }

  &#{&}-disabled {
    pointer-events: none;
    opacity: 0.5;
    background-color: $primary-color;
    color: $white;
  }

  &#{&}-sm {
    padding: 0.15rem 1rem;
    font-size: 0.65rem;
    height: 2rem;
  }

  &#{&}-lg {
    padding: 1.25rem;
    font-size: 1.25rem;
  }
}
