@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: $white;
}

header {
  position: sticky;
  top: 0;
  height: 8vh;
  background-color: $primary-color;
  color: $white;
  z-index: 999;
}
